<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-LuisHermenegildo1/blob/main/PythonCourse_Module_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Semana 1
#Master en Big Data

Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.

In [ ]:
print("Hello world\nWorld Big Data Class")

Hello world
Big Data Class

What is the output of executing the following statement: # print('Hello World!')?

In [ ]:
# print('Hello World!')

Types

What is the type of the following: int(1.0)?

In [ ]:
 type(int(1.0))

int

Is a Number Always a Number? 
Cast the following to an int and then to a bool:

In [ ]:

bool(int("1"))

True

Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?

In [ ]:
Numbers = "0123456"
print(Numbers[::2])

0246

What is the result of the following line of code:

"0123456".find('1')

In [ ]:
"0123456".find('1')

1

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
'1'+'2'

'12'

How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers

In [ ]:
A=(0,1,2,3)
print(A[-1])
print(A[3])

3
3

QUESTION 2
1/1 point (ungraded)
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?

In [ ]:
B=["a","b","c"]
print(B[1:])

['b', 'c']

PREGUNTA 1
1 punto posible (sin calificar)
Considere el siguiente diccionario:

D = {'a':0,'b':1,'c':2}

¿Cuál es el resultado de lo siguiente: D.values()?

In [ ]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

Examen Modulo 2

Question 1
1 point possible (graded)
What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [1]:
A = ('a','b','c')
A[0]

'a'

Question 4
1 point possible (graded)
Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [2]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

Dict["D"]

(4, 4, 4)