<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-LuisHermenegildo1/blob/main/PythonCourse_Module_1_2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Semana 1
#Master en Big Data

Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.

In [ ]:
print("Hello world\nWorld Big Data Class")

Hello world
Big Data Class

What is the output of executing the following statement: # print('Hello World!')?

In [ ]:
# print('Hello World!')

Types

What is the type of the following: int(1.0)?

In [ ]:
 type(int(1.0))

int

Is a Number Always a Number? 
Cast the following to an int and then to a bool:

In [ ]:

bool(int("1"))

True

Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?

In [ ]:
Numbers = "0123456"
print(Numbers[::2])

0246

What is the result of the following line of code:

"0123456".find('1')

In [ ]:
"0123456".find('1')

1

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
'1'+'2'

'12'

How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers

In [ ]:
A=(0,1,2,3)
print(A[-1])
print(A[3])

3
3

QUESTION 2
1/1 point (ungraded)
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?

In [ ]:
B=["a","b","c"]
print(B[1:])

['b', 'c']

PREGUNTA 1
1 punto posible (sin calificar)
Considere el siguiente diccionario:

D = {'a':0,'b':1,'c':2}

¿Cuál es el resultado de lo siguiente: D.values()?

In [ ]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

Examen Modulo 2

Question 1
1 point possible (graded)
What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [1]:
A = ('a','b','c')
A[0]

'a'

Question 4
1 point possible (graded)
Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [2]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

Dict["D"]

(4, 4, 4)

Modulo 3

Quiz on Conditions
Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [5]:
# Write your code below and press Shift+Enter to execute
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [4]:
# Write your code below and press Shift+Enter to execute
rating = 8.0
if rating > 8:
    print ("This album is Amazing!")
else:
    print("This album is ok")

This album is ok

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [3]:
# Write your code below and press Shift+Enter to execute
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

Quiz on Loops
Write a for loop the prints out all the element between -5 and 5 using the range function.

In [10]:
# Write your code below and press Shift+Enter to execute
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [9]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [8]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [7]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i=0
while PlayListRatings[i] > 6:
    print(PlayListRatings[i])
    i+=1

10
9.5
10
8
7.5

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [1]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i=0
while squares[i] == 'orange':
    new_squares.append(squares[i])
    i+=1
print(new_squares)

['orange', 'orange']

Quiz on Functions
Come up with a function that divides the first input by the second input:

In [2]:
# Write your code below and press Shift+Enter to execute
def div(a, b):
    return(a / b)

div(1, 2)

0.5

Use the function con for the following question.

In [3]:
def con(a, b):
    return(a + b)

Can the con function we defined before be used to add two integers or strings?

In [4]:
print(con(1,2))
print(con('1','2'))

3
12

Can the con function we defined before be used to concatenate lists or tuples?

In [5]:
print(con((1,2,3),(3,4)))

(1, 2, 3, 3, 4)

  QUESTION 1
1 point possible (ungraded)
Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

In [11]:
class Car(object):
  def __init__(self, make, model, color):
    self.make = make
    self.model = model
    self.color = color

#obj = Car("Honda","Accord","blue")
obj = Car(color = "blue", make= "Honda", model="Accord")

print(obj.color)
print(obj.model)
print(obj.make)

blue
Accord
Honda

You will need the class Car for the next exercises. The class Car has four data attributes: make, model, colour and number of owners (owner_number). The method  car_info()  prints out the data attributes and the method sell() increments the number of owners by 1.

In [12]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

Create a Car Object 


Create a  Car  object "my_car" with the given data attributes:

In [13]:
make="BMW"
model="M3"
color="red"

obj = Car(make, model, color)

Data Attributes 

Use the method car_info() to print out the data attributes.

In [14]:
obj.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

Methods 

Call the method  sell()  in the loop, then call the method  car_info() again

In [15]:
for i in range(5):
    obj.sell()
    obj.car_info()

make:  BMW
model: M3
color: red
number of owners: 1
make:  BMW
model: M3
color: red
number of owners: 2
make:  BMW
model: M3
color: red
number of owners: 3
make:  BMW
model: M3
color: red
number of owners: 4
make:  BMW
model: M3
color: red
number of owners: 5

Exercises¶
Text Analysis 
You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class 'analysedText' with the following methods -

Constructor (__init__) - This method should take the argument text, make it lower case, and remove all punctuation. Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called fmtText.
freqAll - This method should create and return dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the fmtText attribute.
freqOf - This method should take a word as an argument and return the number of occurrences of that word in fmtText.
The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise.
Hint: Some useful functions are replace(), lower(), split(), count()
Hint for implementing Constructor
Hint for implementing freqAll
Hint for implementing freqOf

In [16]:
class analysedText(object):
    
    def __init__ (self, text):

        # TODO: Remove the punctuation from <text> and make it lower case.

        # TODO: Assign the formatted text to a new attribute called "fmtText"
        self.fmtText = text.lower().replace('.','').replace('!','').replace(',','').replace('?','')
        #print(self.fmtText)
        #pass 
    
    def freqAll(self):    
        # split text into words
        wordList = self.fmtText.split(' ')
        
        # Create dictionary
        freqMap = {}
        for word in set(wordList): # use set to remove duplicates in list
            freqMap[word] = wordList.count(word)
        
        return freqMap
    
    def freqOf(self, word):

        # TODO: return the number of occurrences of <word> in <fmtText>
        # get frequency map
        freqDict = self.freqAll()
        
        if word in freqDict:
            return freqDict[word]
        else:
            return 0
        pass

You can run the code cell below to test your functions to ensure they are working correctly. First execute the code cell in which you implemented your solution, then execute the code cell to test your implementation.

In [17]:
import sys

sampleMap = {'eirmod': 1,'sed': 1, 'amet': 2, 'diam': 5, 'consetetur': 1, 'labore': 1, 'tempor': 1, 'dolor': 1, 'magna': 2, 'et': 3, 'nonumy': 1, 'ipsum': 1, 'lorem': 2}

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

print("Constructor: ")
try:
    samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
    print(testMsg(samplePassage.fmtText == "lorem ipsum dolor diam amet consetetur lorem magna sed diam nonumy eirmod tempor diam et labore et diam magna et diam amet"))
except:
    print("Error detected. Recheck your function " )
print("freqAll: ")
try:
    wordMap = samplePassage.freqAll()
    print(testMsg(wordMap==sampleMap))
except:
    print("Error detected. Recheck your function " )
print("freqOf: ")
try:
    passed = True
    for word in sampleMap:
        if samplePassage.freqOf(word) != sampleMap[word]:
            passed = False
            break
    print(testMsg(passed))
    
except:
    print("Error detected. Recheck your function  " )

Constructor:
Test Passed
freqAll:
Test Passed
freqOf:
Test Passed

In [18]:
#What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:
  print(2*a)

11
22
33